{% extends 'base.html' %}

{% block content %}
<div class="content">
    <!-- Title -->
    <h1 class="items-center text-3xl font-extrabold text-white flex">{{ text.hosts }}</h1>

    <!-- Form -->
    <form action="{{ url_for('viewHostsCreatePost') }}" method="post">
        <div class="mb-6">
            <label for="name" class="space block mb-2 text-sm font-medium text-gray-300">{{ text.name }}</label>
            <input type="text" name="name" id="name" class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" placeholder="{{ text.name_hint }}" required="">
            
            <label for="id" class="space block mb-2 text-sm font-medium text-gray-300">{{ text.id }} ({{ text.generated_by_the_program }})</label>
            <input type="text" name="id" id="id" class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" value="{{ data['Data']['Result'] }}" readonly="readonly" required="">
        </div>
        
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">{{ text.submit }}</button>
    </form>
    <!-- End Form -->
</div>
{% endblock %}