{% extends 'base.html' %}

{% block content %}
<div class="content">
    <!-- Title -->
    <h1 class="items-center text-3xl font-extrabold text-white flex">{{ text.tasks }}</h1>

    <!-- Tasks table -->
    <div class="space list overflow-x-auto relative shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-400">
            <thead class="text-xs uppercase bg-gray-700 text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6">{{ text.id }}</th>
                    <th scope="col" class="center py-3 px-6">{{ text.name }}</th>
                    <!--<th scope="col" class="center py-3 px-6">{{ text.host }}</th>-->
                    <th scope="col" class="center py-3 px-6">{{ text.creation_date }}</th>
                    <th scope="col" class="center py-3 px-6">{{ text.last_backup }}</th>
                    <th scope="col" class="center py-3 px-6">{{ text.result }}</th>
                    <th scope="col" class="center py-3 px-6">{{ text.task_versions }}</th>
                    <th scope="col" class="center py-3 px-6">{{ text.size }}</th>
                    <th scope="col" class="center py-3 px-6">{{ text.actions}}</th>
                </tr>
            </thead>
            <tbody>
                {% for h in data["Data"] %}
                    <!-- Task -->
                    <tr class="border-b bg-gray-800 border-gray-700">
                        <th scope="row" class="py-4 px-6"><a href="{{ domain }}tasks/view?task={{ h }}">{{ h }}</a></th>
                        <th class="center py-4 px-6"><a href="{{ domain }}tasks/view?task={{ h }}">{{ data["Data"][h]["Name"] }}</a></th>
                        <!--<th class="center py-4 px-6"><a href="{{ domain }}hosts/view?host={{ data['Data'][h]['Host'] }}">{{ data["Data"][h]["Host"] }}</a></th>-->
                        <th class="center py-4 px-6">{{ data["Data"][h]["DateCreated"] }}</th>
                        <th class="center py-4 px-6">{{ data["Data"][h]["LastBackup"] }}</th>
                        <!-- Result -->
                        <td class="center py-4 px-6">
                            {% if data["Data"][h]["ParsedResult"] == "Success" %}
                                <div class="flex items-center" style="text-align: center; justify-content: center;">
                                    <div class="h-2.5 w-2.5 rounded-full bg-green-400"></div>&nbsp;{{ data["Data"][h]["ParsedResult"] }}
                                </div>
                            {% else %}
                                <div class="flex items-center" style="text-align: center; justify-content: center;">
                                    <div class="h-2.5 w-2.5 rounded-full bg-red-500"></div>&nbsp;{{ data["Data"][h]["ParsedResult"] }}
                                </div>
                            {% endif%}
                        </td>
                        <!-- End Result -->
                        <td class="center py-4 px-6">{{ data["Data"][h]["BackupCountList"] }}</td>
                        <td class="center py-4 px-6">{{ data["Data"][h]["KnownFileSize"] }} MB</td>
                        <td class="center py-4 px-6">
                            <!-- Options -->
                            <div id="dropdownDots{{ h }}" class="hidden z-10 w-44 rounded divide-y shadow bg-gray-700 divide-gray-600">
                                <ul class="py-1 text-sm ttext-gray-200" aria-labelledby="dropdownMenuIconButton">
                                    <!-- View -->
                                    <li><a href="{{ domain }}tasks/view?task={{ h }}" class="block py-2 px-4 hover:bg-gray-600 hover:text-white">{{ text.view }}</a></li>
                                    <!-- Delete -->
                                    <li><a href="{{ domain }}tasks/delete?id={{ h }}" class="block py-2 px-4 hover:bg-gray-600 hover:text-white">{{ text.delete }}</a></li>
                                </ul>
                            </div>
                            <!-- End Options -->
                            
                            <!-- Button -->
                            <button id="dropdownMenuIconHorizontalButton" data-dropdown-toggle="dropdownDots{{ h }}" class="inline-flex items-center p-2 text-sm font-medium text-center rounded-lg focus:ring-4 focus:outline-none text-white bg-gray-800 hover:bg-gray-700 focus:ring-gray-600" type="button"> 
                              <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path></svg>
                            </button>
                            <!-- End Button -->
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- End Tasks table -->
</div>
{% endblock %}