{% extends 'base.html' %}

{% block content %}
<div class="content">
    <!-- Title -->
    <h1 class="items-center text-3xl font-extrabold text-white flex">{{ text.settings }}</h1>
        <!-- Form -->
        <form action="{{ url_for('viewSettingsModify') }}" method="post">
            <div class="grid gap-6 mb-6 md:grid-cols-4">
                <div>
                    <label for="host" class="space block mb-2 text-sm font-medium text-gray-300">{{ text.host }}</label>
                    <input type="text" name="host" id="host" class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" value="{{ data['settings']['host'] }}" required="">
                </div>
                <div>
                    <label for="database" class="space block mb-2 text-sm font-medium text-gray-300">{{ text.database }}</label>
                    <input type="text" name="database" id="database" class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" value="{{ data['settings']['database'] }}" required="">
                </div>
                <div>
                    <label for="user" class="space block mb-2 text-sm font-medium text-gray-300">{{ text.user }}</label>
                    <input type="text" name="user" id="user" class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" value="{{ data['settings']['user'] }}" required="">
                </div>
                <div>
                    <label for="password" class="space block mb-2 text-sm font-medium text-gray-300">{{ text.password }}</label>
                    <input type="password" name="password" id="password" class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" value="{{ data['settings']['password'] }}" required="">
                </div>
            </div>
            
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">{{ text.submit }}</button>
        </form>
        <!-- End Form -->
    </div>
    <!-- End Tasks table -->
</div>
{% endblock %}