html, body {
    margin: 0;
    padding: 0;
}

.sidebar {
    margin: 2vw;
}

.sidebar > div {
    height: 90vh !important;
}

.content {
    margin-top: 2vw;
}

.space {
    margin-bottom: 1vw;
    margin-top: 1vw;
}

.list {
    width: 80vw !important;
}

.center  {
    text-align: center;
}

.flash {
    position: absolute;
    bottom: 2vw;
    right: 2vw;
    animation: in 0.25s;
}

@keyframes in {
    0%   {opacity: 0;}
    25%  {opacity: 25%;}
    50%  {opacity: 50%;}
    100% {opacity: 100%;}
}

/* animations */


/* responsive ? */

@media (max-width: 768px) {
    .list {
        width: 22vw !important;
    }

    .stats {
        display: none;
    }

    .form-grid{
        width: 60vw !important;
    }
}

@media (min-width: 768px) {
    .list, .stats {
        width: 55vw !important;
    }

    .form-grid{
        width: 60vw !important;
    }
}

@media (min-width: 870px) {
    .list, .stats {
        width: 62vw !important;
    }

    .form-grid{
        width: 65vw !important;
    }
}

@media (min-width: 1024px) {
    .list, .stats{
        width: 68vw !important;
    }

    .form-grid{
        width: 70vw !important;
    }
}

@media (min-width: 1280px) {
    .list, .stats {
        width: 74vw !important;
    }

    .form-grid{
        width: 75vw !important;
    }
}

@media (min-width: 1536px) {
    .list, .stats{
        width: 78vw !important;
    }
}

@media (min-width: 1800px) {
    .list, .stats{
        width: 80vw !important;
    }
}