<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
    <script src="{{url_for('static', filename='js/chart.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
</head>
<body style="background: #111827;">
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div id="toast-default" class="flash flex items-center p-4 w-full max-w-xs rounded-lg shadow text-gray-400 bg-gray-800" role="alert">
          <div class="ml-3 text-sm font-normal">{{ message }}</div>
          <button type="button" class="ml-auto -mx-1.5 -my-1.5 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 inline-flex h-8 w-8 text-gray-500 hover:text-white bg-gray-800 hover:bg-gray-700" data-dismiss-target="#toast-default" aria-label="Close">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </button>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="flex flex-wrap">
      <aside class="sidebar w-64" aria-label="Sidebar">
        <div class="overflow-y-auto py-4 px-3 rounded bg-gray-800">          
          <ul class="space-y-2">
            <li>
              <a href="{{ url_for('viewStats') }}" class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
                <span class="flex-1 ml-3 whitespace-nowrap">{{ text.stats }}</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('viewHostsList') }}" class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path></svg>
                <span class="flex-1 ml-3 whitespace-nowrap">{{ text.hosts }}</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('viewTasksList') }}" class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M7 9a2 2 0 012-2h6a2 2 0 012 2v6a2 2 0 01-2 2H9a2 2 0 01-2-2V9z"></path><path d="M5 3a2 2 0 00-2 2v6a2 2 0 002 2V5h8a2 2 0 00-2-2H5z"></path></svg>
                <span class="flex-1 ml-3 whitespace-nowrap">{{ text.tasks }}</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('viewSettingsView') }}" class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>
                <span class="flex-1 ml-3 whitespace-nowrap">{{ text.settings }}</span>
              </a>
            </li>
          </ul>
        </div>
      </aside>
      <div>
        {% block content %}
        {% endblock %}
      </div>
    </div>

</body>
</html>