{% extends 'base.html' %}

{% block content %}
<div class="content">
    <!-- Title -->
    <h1 class="items-center text-3xl font-extrabold text-white flex">{{ text.stats }}</h1>

    <div class="stats">
        <div style="grid-column: 1;">
            <canvas class="space" id="tasks"></canvas>
        </div>
        <div style="grid-column: 2;">
            <canvas class="space" id="backups-size"></canvas>
        </div>
    </div>
</div>

{% block javascript%}

<script>
    var d = {{ data_tasks | tojson | safe }};
    var ctx = document.getElementById("tasks");
    var myChart = new Chart(ctx, {
        options: {
            plugins: {
                legend: { display: false},
                title: {text: '{{ text.tasks }}', display: true, fullSize: true, color: 'white', font: { size: 20 }}
            },
            tooltips: {enabled: false},
            hover: {mode: null},
        },
        type: 'doughnut',
        data: {
            labels: [
                "{{ text.success }}",
                "{{ text.error }}"
            ],
            datasets: [{
                label: "test",
                data: d,
                backgroundColor: [
                    "rgb(47, 204, 113)",
                    "rgb(240, 84, 85)"
                ],
                borderWidth: [0, 0, 0, 0]
            }]
        },
    });
</script>

<script>
    const autocolors = window['chartjs-plugin-autocolors'];
    var d = {{ data_size | tojson | safe }};
    var ctx = document.getElementById("backups-size");

    console.log(d);

    var chart = new Chart(ctx, {
        options: {
            plugins: {
                legend: { display: false},
                title: {text: '{{ text.size }} (MB)', display: true, fullSize: true, color: 'white', font: { size: 20 }},
                autocolors: {
                    mode: 'data'
                }
            },
            tooltips: {enabled: false},
            hover: {mode: null},
        },
        type: 'bar',
        data: {
            datasets: [{
                data: d
            }],
        },
        plugins: [
			autocolors
        ]
    });
</script>

{% endblock %}
{% endblock %}
